/* *{
  will-change: auto;
} */

window {
  font-family: "Rubik Regular";
  font-size: 14pt;
  color: #cdd6f4;
  background-image: image(url("/home/anuj/Pictures/wallpapers/loneman.png"));
  /* background-color: rgba(30, 30, 46, 0.9); */
  background-color: transparent;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: scale(0.8); */
  }
  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #222222;
  margin: 5px;
  border-radius: 20px;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
  border-color: #b60505;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* animation: gradient_f 20s ease-in infinite; */
  /* transform: scale(1.05);*/ 
} 

button:focus {
  background-color: rgba(137, 180, 250, 0.2);
  border-color: #89b4fa;
  background-size: 30%;
}

#lock {
  background-image: image(url("icons/lock_black.png"));
}

#logout {
  background-image: image(url("icons/logout_black.png"));
}

#suspend {
  background-image: image(url("icons/suspend_black.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate_black.png"));
}

#reboot {
  background-image: image(url("icons/reboot_black.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown_black.png"));
}

